HomeChore/.settings/org.eclipse.core.resources.prefs
HomeChore/.settings/
HomeChore/HomeChore-web/target/
HomeChore/HomeChore-ejb/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
HomeChore/HomeChore-ejb/target/
HomeChore/HomeChore-web/.settings/
HomeChore/HomeChore-ejb/.settings/
HomeChore/.project
HomeChore/HomeChore-ear/.project
HomeChore/HomeChore-ear/.settings/
HomeChore/HomeChore-ear/target/
HomeChore/HomeChore-ejb/.classpath
HomeChore/HomeChore-ejb/.project
HomeChore/HomeChore-web/.classpath
HomeChore/HomeChore-web/.project
HomeChore/HomeChore-web/.tern-project
HomeChore-web/.settings/
HomeChore-ejb/target/
HomeChore-ejb/.settings/
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
HomeChore-ear/.project
HomeChore-ear/.settings/
HomeChore-ear/target/
HomeChore-ejb/.classpath
HomeChore-ejb/.project
HomeChore-web/.classpath
HomeChore-web/.project
HomeChore-web/.tern-project
HomeChore-web/target/classes/fi/rofl/HomeChore/rest/JaxRsActivator.class
HomeChore-web/target/
